
@import 'helper.scss';


// Variables
$lemming-hair: #1ae533;
$lemming-skin: #f0d0d0;
$lemming-clothes: #4040e0;
$lemming-grid: 10;

$lemming-colors: (
    1: $lemming-hair,
    2: $lemming-skin,
    3: $lemming-clothes
);


// Default Design
$lemming-default: 0,0,0,0,1,1,0,0,0,0,
                  0,0,0,1,1,1,1,0,0,0,
                  0,0,0,1,2,2,1,0,0,0,
                  2,0,0,0,2,2,0,0,0,2,
                  2,2,2,2,3,3,2,2,2,2,
                  0,0,0,0,3,3,0,0,0,0,
                  0,0,0,0,3,3,0,0,0,0,
                  0,0,0,3,3,3,3,0,0,0,
                  0,0,0,3,0,0,3,0,0,0,
                  0,0,2,2,0,0,2,2,0,0;

// Walker Design
$lemming-walker-1: 0,0,0,0,0,0,0,0,0,0, 
                   0,0,0,1,1,1,1,0,0,0, 
                   0,0,0,1,1,2,0,0,0,0, 
                   0,0,0,0,2,2,2,0,0,0, 
                   0,0,0,0,2,3,0,0,0,0, 
                   0,0,0,0,2,3,0,0,0,0, 
                   0,0,0,0,2,3,0,0,0,0, 
                   0,0,0,0,3,3,0,0,0,0, 
                   0,0,0,2,3,3,0,0,0,0, 
                   0,0,0,0,2,2,0,0,0,0; 

$lemming-walker-2: 0,0,0,0,1,0,1,0,0,0, 
                   0,0,0,1,1,1,0,0,0,0, 
                   0,0,0,1,1,2,0,0,0,0, 
                   0,0,0,0,2,2,2,0,0,0, 
                   0,0,0,0,2,3,0,0,0,0, 
                   0,0,0,2,3,3,0,0,0,0, 
                   0,0,0,2,3,3,0,2,0,0, 
                   0,0,0,0,3,3,0,2,0,0, 
                   0,0,0,3,3,0,2,0,0,0, 
                   0,0,0,2,2,0,0,0,0,0;

$lemming-walker-3: 0,0,0,0,0,0,0,0,0,0, 
                   0,0,0,1,0,1,0,0,0,0,
                   0,0,0,1,1,1,0,0,0,0, 
                   0,0,0,0,1,2,0,0,0,0, 
                   0,0,0,0,2,2,2,0,0,0, 
                   0,0,0,2,2,3,0,0,0,0, 
                   0,0,0,2,3,3,0,0,0,0, 
                   0,0,2,2,3,3,3,0,0,0, 
                   0,0,0,3,3,3,3,0,0,0, 
                   0,0,2,2,0,0,2,2,0,0; 

$lemming-walker-4: 0,0,0,0,0,0,0,0,0,0, 
                   0,0,0,0,1,1,0,0,0,0, 
                   0,0,0,1,1,2,1,0,0,0, 
                   0,0,0,1,2,2,2,0,0,0, 
                   0,0,0,0,2,3,0,0,0,0, 
                   0,0,0,0,2,3,0,0,0,0, 
                   0,0,0,2,3,3,0,0,0,0, 
                   0,0,0,0,3,3,0,0,0,0, 
                   0,0,2,3,3,3,3,0,0,0, 
                   0,0,2,0,0,2,2,0,0,0; 
                 
$lemming-walker-5: 0,0,0,0,0,0,0,0,0,0, 
                   0,0,0,1,1,1,1,0,0,0, 
                   0,0,0,1,1,2,0,0,0,0, 
                   0,0,0,0,2,2,2,0,0,0, 
                   0,0,0,0,2,3,0,0,0,0, 
                   0,0,0,0,3,2,0,0,0,0, 
                   0,0,0,0,2,3,0,0,0,0, 
                   0,0,0,0,3,3,0,0,0,0, 
                   0,0,0,2,3,3,0,0,0,0, 
                   0,0,0,0,2,2,0,0,0,0; 
               
$lemming-walker-6: 0,0,0,0,1,0,1,0,0,0, 
                   0,0,0,1,1,1,0,0,0,0, 
                   0,0,0,1,1,2,0,0,0,0, 
                   0,0,0,0,2,2,2,0,0,0, 
                   0,0,0,0,2,3,0,0,0,0, 
                   0,0,0,0,3,2,0,0,0,0, 
                   0,0,0,0,3,2,0,2,0,0, 
                   0,0,0,0,3,3,0,2,0,0, 
                   0,0,0,3,3,0,2,0,0,0, 
                   0,0,0,2,2,0,0,0,0,0; 

$lemming-walker-7: 0,0,0,0,0,0,0,0,0,0, 
                   0,0,0,1,0,1,0,0,0,0, 
                   0,0,0,1,1,1,0,0,0,0, 
                   0,0,0,0,1,2,0,0,0,0, 
                   0,0,0,0,2,2,2,0,0,0, 
                   0,0,0,0,3,2,0,0,0,0, 
                   0,0,0,0,3,2,0,0,0,0, 
                   0,0,0,0,3,3,2,0,0,0, 
                   0,0,0,3,3,3,3,0,0,0, 
                   0,0,2,2,0,0,2,2,0,0; 

$lemming-walker-8: 0,0,0,0,0,0,0,0,0,0, 
                   0,0,0,0,1,1,0,0,0,0, 
                   0,0,0,1,1,2,1,0,0,0, 
                   0,0,0,1,2,2,2,0,0,0, 
                   0,0,0,0,2,3,0,0,0,0, 
                   0,0,0,0,2,3,0,0,0,0, 
                   0,0,0,0,3,2,0,0,0,0, 
                   0,0,0,0,3,3,0,0,0,0, 
                   0,0,2,3,3,3,3,0,0,0, 
                   0,0,2,0,0,2,2,0,0,0;


// Styles
.lemming {
    display: flex;
    flex-direction: row;

    .lemming--default {
        height: 1px;
        width: 1px;
        margin: 80px;

        transform: scale(10);

        box-shadow: pixelart($lemming-default, $lemming-grid, $lemming-colors);
    }

    .lemming--walker {
        width: 1px;
        height: 1px;
        margin: 80px;
        
        transform: scale(10);
        
        animation: walker .65s step-start infinite;
        box-shadow: pixelart($lemming-walker-1, $lemming-grid, $lemming-colors);
    }
}


// Animations
@keyframes walker {
    12% { box-shadow: pixelart($lemming-walker-2, $lemming-grid, $lemming-colors); }
    25% { box-shadow: pixelart($lemming-walker-3, $lemming-grid, $lemming-colors); }
    37% { box-shadow: pixelart($lemming-walker-4, $lemming-grid, $lemming-colors); }
    50% { box-shadow: pixelart($lemming-walker-5, $lemming-grid, $lemming-colors); }
    62% { box-shadow: pixelart($lemming-walker-6, $lemming-grid, $lemming-colors); }
    75% { box-shadow: pixelart($lemming-walker-7, $lemming-grid, $lemming-colors); }
    87% { box-shadow: pixelart($lemming-walker-8, $lemming-grid, $lemming-colors); }
}