
@import 'lemming';
@import 'space-invader';
@import 'pokeball';
@import 'heart';
@import 'nintendo-switch';
@import 'super-nintendo-controller';
@import 'keyboard';
@import 'blastoise';


html, body {
    margin: 0;
    min-height: 100%;
    padding: 0;
}

html {
    margin-bottom: 150px;
    
    body {
        background-color: #535353;
        min-height: 100vh;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        main {
            display: flex;
            flex-direction: column;
        }
    }
}
